<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/Normalize.css" />
    <title>To Do List</title>
  </head>
  <body>
    <div class="date-container">
      <h1>Date</h1>
    </div>
    <div class="list-container">
      <div class="list-item">
        <input type="checkbox" name="" id="" />
        <p>List item</p>
      </div>
      <form action="post">
        <input type="text" name="" id="New Item" />
        <input type="submit" value="+" />
      </form>
    </div>
  </body>
</html>
