<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/Normalize.css" />
    <title>To Do List</title>
  </head>
  <body>
    <div class="date-container">
      <% if (locals.day && locals.dayNumber){ %>
      <h1><%=day %> <%=dayNumber %></h1>
      <% } %>
    </div>
    <div class="list-container">
      <% if (locals.items) { %> <%items.forEach((task)=> { %>
      <div class="list-item">
        <form action="/send" method="post"></form>
        <input
          id="check"
          type="checkbox"
          name="check"
          onchange="this.form.submit()"
        />
        <label id="text" for="check" name="text"><%=task %></label>
      </div>
      <%}) %> <% } %>

      <form action="/submit" method="POST" class="form">
        <div class="inputs-container">
          <input
            type="text"
            name="task"
            id="New Item"
            placeholder="New Item"
            class="new-item"
          />
          <input type="submit" value="+" class="submit" />
        </div>
      </form>
    </div>
  </body>
  <script></script>
</html>
